services:
    app:
        build:
            context: ./docker
            dockerfile: Dockerfile
            args:
                - PHP_VERSION=8.2
        tty: true
        container_name: ${COMPOSE_PROJECT_NAME}_app
        hostname: app
        working_dir: /var/www/html
        expose:
            - 9000
            - 9001
        volumes:
            - ./:/var/www/html:cached
            - ./:/var/run/php-fpm/
            - ./docker/config/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        links:
            - database
    nginx:
        image: nginx:1.19.0
        container_name: ${COMPOSE_PROJECT_NAME}_nginx
        tty: true
        expose:
            - "80"
        ports:
            - ${DOCKER_NGINX_PORT}:80
        volumes:
            - ./:/var/www/html:cached
            - ./docker/config/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./docker/config/conf.d/:/etc/nginx/conf.d/
            - ./docker/logs:/var/log/nginx/
        depends_on:
            - app

    # The Database
    database:
        image: mysql:8.0
        container_name: ${COMPOSE_PROJECT_NAME}_db
        platform: linux/x86_64
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_USERNAME}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        volumes:
            - ./docker/mysql_data:/var/lib/mysql
        ports:
            - "3346:3306"
    # The S3 local
    s3:
        image: minio/minio
        container_name: ${COMPOSE_PROJECT_NAME}_s3
        ports:
            - ${DOCKER_S3_SMTP_SERVER_PORT}:9000 # smtp server
            - ${DOCKER_S3_WEB_UI_PORT}:9001 # web ui
        volumes:
            - ./storage/minio:/data
        environment:
            MINIO_ACCESS_KEY: minio_access_key
            MINIO_SECRET_KEY: minio_secret_key
            HOST_NAME: s3.localhost
        command: server --console-address :9001 --address 0.0.0.0:9000 /data
    php-worker:
        container_name: ${COMPOSE_PROJECT_NAME}_worker
        build:
            context: docker/php-worker
            args:
                - PHP_VERSION=8.2
        restart: unless-stopped
        volumes:
            - ./:/src
            - ./docker/php-worker/php.ini:/opt/bitnami/php/etc/conf.d/php.ini:ro
            - ./docker/php-worker/supervisord.d:/etc/supervisord.d
